<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restaurant catalogue for you">
  <meta name="theme-color" content="#8B4513"/>

  <link rel="icon" href="./favicon-16x16.png" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" crossorigin="anonymous">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/android-icon-192x192.png" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Restaurant Catalogue</title>
</head>
<body>
  <a href="#content" class="skip-link" tabindex="0">Skip to content ?</a>
  
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <h1>Restaurant Catalogue</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/agustina-anggarani-94b189272/">About Us</a></li>
          </ul>
        </nav>
      </header>

      <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('heros/hero-image_2.jpg');">
        <div class="hero_inner">
          <h1 class="hero_title">Info Restoran di Indonesia</h1>
          <p class="hero_tagline">Berikut adalah Rekomendasi Restoran di Indonesia yang menurut mimin enak dan harga nya yang terjangkau</p>
        </div>
      </div>

      <main id="mainContent" tabindex="0"></main>
      <footer>
        <p>Copyright © 2023 - Info Restoran Indonesia by Tina</p>
      </footer>
</body>
</html>