* {
  padding: 0;
  margin: 0;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: tan;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 
.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: saddlebrown;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 100px;
}


/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: saddlebrown;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: wheat;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: wheat;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: saddlebrown;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: wheat;
  /* padding: 8px;
  margin-bottom: 5px; */
  width: 100%;
}
 
/*
  Main Content
*/

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: ('../public/heros/hero-image_2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: wheat;
  border: 15px;
}

.hero_inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero_title {
  color: wheat;
  font-weight: 500;
  font-size: 36px;
}

.hero_tagline {
  color: wheat;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

main {
  padding: 32px;
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
}

 
/*
  Restaurants
*/
 
.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
 
 
/*
  Restaurant Item
*/
 
.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
 
.restaurant-item__header {
  position: relative;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}
 
.restaurant-item .restaurant-item__content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item__content h3 a {
  color: saddlebrown;
  text-decoration: none;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}
 
.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
 
 
/*
  Restaurant
*/
 
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}
 
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}


/*
  Detail
*/

.review {
  padding: 6px;
}

.review .review__name {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.review .review__review {
  font-style: italic;
  font-size: large;
}

.review .review__date {
  font-size: small;
}


/*
  Like
*/

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: saddlebrown;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: tan;
  cursor: pointer;
}


/*
  Footer
*/
 
footer {
  padding: 16px;
}
 
footer p {
  text-align: center;
  color: wheat;
}
 
footer p a {
  color: #db0000;
  text-decoration: none;
}